name: CI-CD
on:
  push:
    branches: ["main"]
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    CI:
      # The type of runner that the job will run on
      runs-on: ubuntu-latest
      steps:
        - run: echo "Obter Código"
        - run: echo "Executar o Docker Build"
        - run: echo "Enviar a imagem Docker para o Docker Hub"
    
    CD:
      runs-on: ubuntu-latest
      needs: [CI]
      steps:
        - run: echo "Obter Código"
        - run: echo "Configurar o Kubeconfig"
        - run: echo "Executar o apply"
